<h3><%= listings[0]["name"] %> Cards Available</h3>
<% if !listings.empty? %>
<section class="cards">
    <% listings.each do |listing|%>
      <a href="/listings/<%= listing["id"] %>">
        <article class="card">
          <img src="<%= listing["image_url"]%>" alt="">
          <aside>
            <h3><%= listing["name"] %></h3>
            <p>Edition: <%= listing["card_edition"] %>/<%=listing["quantity_released"] %></p>
            <p>$<%= listing["price"] %></p>
            <p><%= listing["username"] %></p>
          </aside>
        </article>
     </a> 
    <% end %>
  </section>
<% else%>
    <p>No cards available right now</p>
<% end%>
